header h1{
    color: blue;
    background-color: antiquewhite;  
    text-align: center;

}

main ul{
    color: white;
   
}

footer{
    text-align: center; ;
}

header h2{
    color: chartreuse;
}